extends navigation

block head
    script(type='text/javascript' src='/js/owner.institution.new.js')
    link(rel='stylesheet', href='/css/owner.institution.new.css')

block content
    form(method='POST' name='frm-save' action='/owner/institution/wizard')
        input(type='text' name='name' id='name' value=name placeholder='Nome da instituição')
        if(fault && fault.name)
            label(class='frm-error') #{fault.name[0]}

        input(type='submit' name='btn-save' value='Salvar')