form(id='frm-login' action='/account/login' method="POST")
  input(type='text' name='email' id='email' value=email placeholder='Email')
  input(type='text' name='password' id='password' placeholder='Senha')
  input(type='submit' name='btn-login' value='Entrar')